<!DOCTYPE html>
<html>
		<head>
				<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
		</head>
		<body>
				<%= @user.name %>, 
				Your new password is winterfell
		</body>
</html>
